.title-custom {
    color: #333;
    text-decoration: none;
}

.title-custom:hover {
    text-decoration: underline;
}

.page-item.active > span {
    background-color: #2d9263 !important;
    color: #fff !important;
}
.page-link {
    color: #2d9263 !important;
}
.comment {
    padding: 0 15px;
    border-radius: 30px;
    cursor: pointer;
}
.comment:hover {
    background-color: #f7f7f7;
    padding: 0 15px;
    border-radius: 30px;
}
.like {
    padding:  0 15px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    background-color: #fff;

}
.like:hover {
    background-color: #f7f7f7;
    padding:  0 15px;
    border-radius: 30px;
}

.hide-comment {
    display: none !important;
}
.show-comment {
    display: block !important;
}

.profile-picture {
    border-radius: 50%;
}





.card_1 {
    position: relative;
    right: 20%;
    width: 620px;
    height: 500px;
    border-radius: 5%;
    background: white;



    /* background: rgb(196, 113, 245, 1), rgb(250, 113, 205, 1); */


}

.photo {
    position: absolute;
    top: 1%;
    left: 3%;
}

.text_1 {
    text-align: left;
    margin-left: 25%;
}

.card_2 {
    position: relative;
    top: -525;
    right: 50%;
    left: 15%;

    width: 400px;
    height: 500px;
    border-radius: 5%;
    background: rgb(255, 255, 255);



}


.gradient-custom {
    background: greenyellow;
}

.line {
    border-bottom: 1px solid black; /* 1px solid black creates a 1-pixel thick black line */
  }


.custom-nav{
    position: fixed;
    right: 50%;
}


