.title-custom {
    color: #333;
    text-decoration: none;
}

.title-custom:hover {
    text-decoration: underline;
}

.page-item.active > span {
    background-color: #2d9263 !important;
    color: #fff !important;
}
.page-link {
    color: #2d9263 !important;
}
.comment {

    padding:  0 15px;
    border-radius: 30px;
    cursor: pointer;
}
.comment:hover {
    background-color: #f7f7f7;
    padding:  0 15px;
    border-radius: 30px;
}

.hide-comment {
    display: none !important;
}
.show-comment {
    display: block !important;
}

.profile-picture {
    border-radius: 50%;
}